body{
    background-color: wheat;
}

h2{
    color:#BA6C65;
    text-shadow: 2px 2px white;
}

h4{
    color: #BA6C65;
    margin-bottom: 5px;
    display: inline-block;
}

b{
    color:#BA6C65;
}

a{
    color:#BA6C65;
}

a:hover {
    color: #BA6C65;
}

.row{
    background-color: white;
    border-radius:30px;
    border:2px solid white;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px 10px 15px 10px;
}

.card{
    background-color: white;
    border-radius:30px;
    border:2px solid white;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 40px 20px 40px 20px;
}

.btn-outline-primary{
    color:#BA6C65;
    border: 2px solid #BA6C65; /* Green */
}

.btn-outline-primary:hover {
    background-color: #BA6C65; /* Green */
    border: 2px solid #BA6C65; /* Green */
    color: white;
  }

input[type='checkbox'].circle {
    -webkit-appearance:none;
    width:25px;
    height:25px;
    margin-right:10px;
    background:white;
    border-radius:30px;
    border:2px solid #BA6C65;
    vertical-align: middle;
    outline: none;   
}

input[type='checkbox']:checked.circle {
    background:#BA6C65;
    border:2px solid #BA6C65;
}

input[type='checkbox'].square {
    -webkit-appearance:none;
    width:20px;
    height:20px;
    margin-right:10px;
    background:BA6C65;
    border-radius:5px;
    border:2px solid #BA6C65;
    vertical-align: middle;
    outline: none;   
    float:right;
}
input[type='checkbox']:checked.square {
    background:wheat;
    border:2px solid wheat;
}

ul.recipe {
    display: -ms-flexbox;           /* IE 10 */
    display: -webkit-flex;          /* Safari 6.1+. iOS 7.1+ */
    display: flex;
    -webkit-flex-flow: wrap column; /* Safari 6.1+ */
    flex-flow: wrap column;
    max-height: 150px;      
}

ul.ingred{
    -moz-column-count: 3;
    -moz-column-gap: 20px;
    -webkit-column-count: 3;
    -webkit-column-gap: 20px;
    column-count: 3;
    column-gap: 20px;
    list-style-type:none;
}

li.ingred{
    margin-bottom: 10px;
}