<style>
  /* change the background color */
  .navbar-custom {
      background-color: #BA6C65;
  }

  /* change the brand and text color */
  .navbar-custom .navbar-brand,
  .navbar-custom .navbar-text {
      color: white;
  }

  /* change the link color */
  .navbar-custom .navbar-nav .nav-link {
      color: white;
  }

  /* change the color of active or hovered links */
  .navbar-custom .nav-item:focus .nav-link,
  .navbar-custom .nav-item:hover .nav-link,
  .navbar-custom .nav-item.active .nav-link{
      color: white;
      font-weight:bolder;
  }
  .navbar-custom .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='white' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar-custom .navbar-toggler {
  /* border-color: white; */
  color: white;
} 
</style>

<nav class="navbar navbar-expand-lg navbar-custom">
    <div class="container">
        <a class="navbar-brand" href="/">Patissier Pal</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="/video_library">Video Library</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/top_ingredients">Top Ingredients</a>
            </li>

          </ul>
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              {% if session.logged_in %}
                <a class="nav-link" href="/logout">Logout</a>
              {% else %}
                <a class="nav-link" href="/login">Login</a>
              {% endif %}
            </li>
          </ul>
        </div>
    </div>
  </nav>