{%extends 'layout.html' %}

{% block body %}
    <h2>Search for your video</h2>
    <div class="row">
        <div class="col">
            <form method="POST" action="">
                <input class="form-control" type="text" id="title" name="video" list="video-titles" placeholder="Video Title" onchange="showDiv('hidden_div', this)">
                <datalist id="video-titles">
                    {% for video in videos %} 
                        <option>{{video}}</option>
                    {% endfor %}
                </datalist>
                <hr>
                <input type="submit" value="Submit" class="btn btn-outline-primary" style="margin-bottom: 0px;"> 
            </form>
        </div>
    </div>     
{% endblock %}