{%extends 'layout.html' %}

{% block body %}     
    <h2>Select your ingredients</h2>
    {% if not session.logged_in %}
        <b>Log in <u><a href="{{ url_for('login') }}">here</a></u> to save your ingredient selection</b>
    {% endif %}

    <div class="card">
        <form method="POST" action="">
            <ul class="ingred">
                {% for ingredient in ingredients %}
                    <li class="ingred">
                        {% if ingredient in pantry %}
                            <input class="circle" type="checkbox" value="{{ingredient}}" name="ingredient" checked=checked>
                        {% else %}
                            <input class="circle" type="checkbox" value="{{ingredient}}" name="ingredient">
                        {% endif %}
                        <label for={{ingredient}}>{{ingredient}}</label><br>
                    </li>
                {% endfor %}
            </ul>
            <hr>
            <input type="submit" value="Submit" class="btn btn-outline-primary" style="margin-bottom: 50px;"> 
        </form>
    </div>
{% endblock %}