{%extends 'layout.html' %}

{% block body %}
<div class="container">
    <style>
        ul.ingred {
        display: -ms-flexbox;           /* IE 10 */
        display: -webkit-flex;          /* Safari 6.1+. iOS 7.1+ */
        display: flex;
        -webkit-flex-flow: wrap column; /* Safari 6.1+ */
        flex-flow: wrap column;
        max-height: 150px;      
        }
        .row{
            background-color: white;
            border-radius:30px;
            border:2px solid white;
            margin-top: 20px;
            margin-bottom: 20px;
            padding: 20px 10px 15px 10px;
        }
    
    </style>
    
    <h2>Search for your video</h2>
    <div class="row">
        <div class="col">
            <form method="POST" action="">
                <input class="form-control" type="text" id="title" name="video" list="video-titles" placeholder="Video Title" onchange="showDiv('hidden_div', this)">
                <datalist id="video-titles">
                    {% for video in videos %} 
                        <option>{{video}}</option>
                    {% endfor %}
                </datalist>
                <hr>
                <!-- <div id="hidden_div">
                    <iframe width="333" height="200" src="https://www.youtube.com/embed/" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div> -->
                <input type="submit" value="Submit" class="btn btn-outline-primary" style="margin-bottom: 0px;"> 
            </form>
        </div>
    </div>     
</div>
{% endblock %}