{%extends 'layout.html' %}

{% block body %}     
    <h2>Select your ingredients</h2>
    <p>See what desserts you can make with your ingredients!
    {% if not session.logged_in %}
        Log in <u><a href="{{ url_for('login') }}">here</a></u> to save your ingredient selection.
    {% endif %}
    </p>
    

    <div class="card">
        <form method="POST" action="">
            <ul class="ingred">
                {% for ingredient in ingredients %}
                    <li class="ingred">
                        {% if ingredient in pantry %}
                            <input class="circle" type="checkbox" value="{{ingredient}}" name="ingredient" checked=checked>
                        {% else %}
                            <input class="circle" type="checkbox" value="{{ingredient}}" name="ingredient">
                        {% endif %}
                        <label for={{ingredient}}>{{ingredient}}</label><br>
                    </li>
                {% endfor %}
            </ul>
            <input type="submit" value="Get Videos" class="btn btn-block btn-outline-primary" style="margin-top: 10px;"> 
        </form>
    </div>
    <br>
{% endblock %}