{%extends 'layout.html' %}

{% block body %}
{% if session.logged_in %}
  <h1>Welcome to Patissier Pal {{session.name}}!</h1>
{% else %}
  <h1>Welcome to Patissier Pal!</h1>
{% endif %}

<div class="outer">
  <div class="inner">
      <img width=60% src="static/graphics/tenor.gif">

      <h3>Start with...</h3>
      <div class="row home">
        <div class="col-sm">
          <a href="/enter_ingredients" class="btn btn-outline-primary btn-block btn-lg"> the ingredients</a>
        </div>
        <div class="col-sm">
          <a href="/enter_recipe" class="btn btn-outline-primary btn-block btn-lg"> the recipe</a>
        </div>
  </div>
</div>

{% endblock %}