{%extends 'layout.html' %}

{% block body %}
    <h2>Check out the video library below!</h2>
    {{ pagination.info }}

    {% for recipe in recipes %}
    <div class="row">
        <div class="col-4">
            <iframe width="333" height="200" src="https://www.youtube.com/embed/{{recipe.id}}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        
        <div class="col-8">
            <h4>{{recipe.title}}</h4>
            <ul class="recipe">
                {% for ingredient in recipe.ingredientDetails %}
                    <li>{{ingredient}} -                         
                        {% for unit in recipe.ingredientDetails[ingredient] %}
                            {{recipe.ingredientDetails[ingredient][unit]}}{{unit}}
                            {% if not loop.last %}
                            +
                            {% endif %}
                        {% endfor %}
                    </li>    
                {% endfor %}
            <ul>
        </div>
    </div>
    {% endfor %}
    
    {{ pagination.links }}
    <br/>
{% endblock %}